name: Build crab-auth-mock

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  SQLX_OFFLINE: true

jobs:
  build:
    name: Build (${{ matrix.name }})
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Windows
            os: windows-latest
            binary: crab-auth-mock.exe
            cargo-args: ""
          - name: macOS-arm64
            os: macos-latest
            binary: crab-auth-mock
            cargo-args: --target aarch64-apple-darwin
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          key: auth-mock-${{ matrix.name }}

      - name: Install NASM (Windows)
        if: runner.os == 'Windows'
        uses: ilammy/setup-nasm@v1

      - name: Build
        run: cargo build -p crab-auth-mock --release ${{ matrix.cargo-args }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: crab-auth-mock-${{ matrix.name }}
          path: target/**/release/${{ matrix.binary }}
